*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100%;
    width: 100%;
}
.container
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.687);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200px);
    gap: 0.4rem;  
    padding: 4rem;
    /* justify-items: end; */
    /* justify-items: stretch; */
    /* justify-items: center; */
    /* align-items: center; */
    place-items: center;

}
.item
{
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    border: 5px solid white;
    /* justify-self: end; */
    /* justify-self: center; */
    /* justify-self: stretch; */
    /* align-self: end; */
    /* align-self: center; */
    /* align-self: stretch; */
    /* place-self: center; */
    /* place-self: stretch; */
}