:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw; /* fixed to viewport width */
  min-height: 100vh;
  text-align: center;
  padding: 1.3rem;

  background: linear-gradient(
    225deg,
    rgba(64, 193, 232, 0.2),
    rgba(255, 165, 0, 0.2),
    rgba(173, 97, 130, 0.25),
    rgba(0, 200, 83, 0.2),
    rgba(64, 193, 232, 0.2),
    rgba(255, 165, 0, 0.2),
    rgba(64, 193, 232, 0.2)
  );
  background-size: 1000% 1000%; /* moves only horizontally */
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}


.header-container {
  max-width: 100vw;
  max-height: 6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: transparent;
  box-shadow: rgba(231, 151, 151, 0.469) 0px 4px 15px,
    rgba(100, 191, 222, 0.367) 0px 7px 29px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  gap: 0.625rem;
}
.logo-first {
  color: var(--text-color);
}
.logo-second {
  background-image: url("./images/image.png");
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.logo-icon {
  width: 5.875rem;
  height: 5.875rem;
}
.nav-container {
  display: none;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
  }
}
.dropdown-section button
{
  background-color: transparent;
  border: none;
}
.anchor-feature
{
  display: block;
  padding: 0.3rem;
}
.content-features
{
  position: absolute;
  background-image: linear-gradient(    225deg,    rgba(64, 193, 232, 0.4),    rgba(255, 165, 0, 0.4),    rgba(173, 97, 130, 0.5),    rgba(0, 200, 83, 0.3)  );
  width: 15rem;
  padding: 0.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.223);
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  display: none;
}
.dropdown-section:hover .content-features
{
  display: block;
}

.anchor-feature
{
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
}
.anchor-feature:hover
{
  background-color: #ffffff48
}

.nav-link {
  color: #718096;
  font-size: 1.125rem;
  font-weight: 500;
  transform: color 0.1s;
  -webkit-transform: color 0.1s;
  -moz-transform: color 0.1s;
  -ms-transform: color 0.1s;
  -o-transform: color 0.1s;
}
.nav-link:hover {
  color: var(--link-color);
}

.contact-button {
  display: none;
  border: none;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: all 0.1s;
  -webkit-transform: all 0.1s;
  -moz-transform: all 0.1s;
  -ms-transform: all 0.1s;
  -o-transform: all 0.1s;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact-button {
    display: block;
  }
}
.contact-button:hover {
  background-color: #5254f8;
}
.menu-button {
  display: none;
  border: none;
  background-color: transparent;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .menu-button {
    display: block;
  }
}
.menu-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.main-section {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0.6rem;
  margin: 0 auto;
  align-items: center;
}

.content-left {
  text-align: left;
  max-width: 50%;
  animation: slidefromleft 1s ease forwards;
  -webkit-animation: slidefromleft 1s ease forwards;
}
@keyframes slidefromleft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.section-label {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--primary-color);
}
.section-title {
  color: var(--text-color);
  padding: 1.1rem;
  font-size: 3.2rem;
  line-height: 3.3rem;
  padding-left: 0;
}
.section-description {
  color: var(--gray);
  font-size: 1.12rem;
  width: 80%;
}
.button-group {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: start;
  padding-left: 0;
}
.start-button,
.tour-button {
  border: none;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  transform: all 0.1s;
  -webkit-transform: all 0.1s;
  -moz-transform: all 0.1s;
  -ms-transform: all 0.1s;
  -o-transform: all 0.1s;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
}
.tour-button {
  background-color: var(--dark-gray);
}
.start-button:hover {
  background-color: #5254f8;
}
.tour-button:hover {
  background-color: var(--gray);
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.img-container {
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  overflow: hidden;
  box-sizing: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 71vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.section-image {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main-section {
    flex-direction: column;
  }
  .content-left {
    max-width: none;
    text-align: center;
  }
  .button-group {
    justify-content: center;
  }
  .img-container {
    height: auto;
  }
  .section-title {
    font-size: 2.3rem;
  }
  .section-description {
    width: none;
  }
}
.company-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: slidefromleft 1s ease forwards;
  -webkit-animation: slidefromleft 1s ease forwards;
}
@keyframes slidefromleft {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.company-grid {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  margin: 1.2rem;
  padding: 1rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media screen and (max-width: 768px) {
  .company-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1rem;
  }
}
.company-title {
  font-size: 2.4rem;
  font-weight: bold;
}
.company-logo {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
}
.company-images {
  height: 40px;
}
.logo-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feature-container {
  padding: 2.5rem 0;
  text-align: center;
}
.feature-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}
.main-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-title {
  font-size: 2.5rem;
}
.main-description {
  color: var(--dark-gray);
  font-size: 1rem;
}
.feature-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.3rem;
}
.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 42, 62, 0.547);
  padding: 1.5rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  gap: 2rem;
  margin: 2rem;
  position: relative;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg; 
  inherits: false;
}
.feature-card::after,
.feature-card::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /*background-image: conic-gradient(rgb(221, 51, 80),rgb(166, 9, 228),lightseagreen,rgb(51, 209, 31),green,red,rgb(221, 51, 80));*/
  /* background-image: conic-gradient(from var(--angle), rgba(189, 18, 166, 0.505),    rgba(130, 61, 93, 0.304),    rgba(153, 36, 174, 0.326),    rgba(56, 22, 169, 0.285),    rgba(18, 87, 184, 0.46),    rgba(47, 129, 223, 0.391),    rgba(135, 206, 250, 0.383),  rgba(212, 58, 212, 0.243),  rgba(227, 119, 184, 0.243)  ); */
  background-image: conic-gradient(
    from var(--angle),
    transparent 70%,
    rgba(181, 85, 126, 0.677)
  );
  z-index: -1;
  padding: 0.3rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  animation: 3;
  -webkit-animation: 4s spin linear infinite;
}
.feature-card::before {
  filter: blur(1.5rem);
  -webkit-filter: blur(1.5rem);
  opacity: 0.9;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
.icon-container {
  background-color: rgb(255, 255, 255);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-info {
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature-title {
  font-size: 1.2rem;
  font-weight: bolder;
}
.feature-description {
  font-size: 1rem;
  font-weight: 400;
}
.feature-card:nth-child(1) {
  background-color: rgba(236, 149, 149, 0.939);
}
.feature-card:nth-child(2) {
  background-color: rgb(68, 190, 230);
}
.feature-card:nth-child(3) {
  background-color: rgba(142, 227, 142, 0.96);
}
.feature-card:nth-child(4) {
  background-color: pink;
}
.feature-card:nth-child(5) {
  background-color: lightskyblue;
}
.feature-card:nth-child(6) {
  background-color: lightseagreen;
}
@media screen and (max-width: 768px) {
  .feature-grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 1rem;
  }
}

.testimonial-container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
.testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.testimonial-heading {
  font-size: 1.875rem;
  font-weight: bold;
}
.testimonial-card {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(11, 11, 12, 0.1);
  gap: 0.8rem;
  padding: 0.8rem;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  -webkit-transition: transform 0.25s ease, box-shadow 0.25s ease;
  -moz-transition: transform 0.25s ease, box-shadow 0.25s ease;
  -ms-transition: transform 0.25s ease, box-shadow 0.25s ease;
  -o-transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-bottom: 2rem;
}
.testimonial-card:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.366);
}
.testimonial-text {
  font-size: 0.9rem;
  font-weight: 500;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}
.testimonial-img {
  border: none;
  width: 60px; /* Smaller avatar image */
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial-name {
  color: rgb(52, 12, 95);
}
.name-description {
  font-size: 0.9rem;
  color: var(--dark-gray);
}

.newsletter-container {
  padding: 2rem;
  max-width: 1280px;
  height: 49vh;
  margin: 0 auto;
}
.newsletter-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.136);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.content-left-newsletter {
  width: 50%;
}
.newsletter-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.content-right-newsletter {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 2.1rem;
  justify-content: center;
  text-align: left;
}
@media screen and (max-width: 640px) {
  .newsletter-img {
    display: none;
  }
  .newsletter-container {
    padding: 0;
  }
  .news-title {
    font-size: 1.2rem;
  }
  .content-left-newsletter {
    width: 0%;
  }
  .content-right-newsletter {
    width: 100%;
    padding: 1rem;
  }
}
.news-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--primary-color);
}
.news-description {
  color: var(--gray);
}
.news-form {
  padding-top: 0.8rem;
  display: flex;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.news-email {
  background-color: var(--background-color);
  width: 190px;
  color: #333;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 0.6rem 0.75rem;
}
.news-email:focus {
  border-color: #2563eb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.news-send-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.news-send-button:hover {
  background-color: var(--link-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.privacy-policy {
  padding-bottom: 1.5rem;
  font-size: 0.7rem;
}
.privacy-policy a {
  color: var(--link-color);
}


.footer-container
{
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}
.footer
{
    max-width: 1280px;
    padding: 1rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.footer-top
{
    width: 35%;
}
.social-icon
{
    height: 3rem;
    width: 3rem;
}
.logo-svg
{
    width: 5.5rem;
    height: 5rem;
}
.company-logo
{
    margin-bottom: 1.5rem;
}
.logo-link
{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
}
.filler-text
{
    font-size: 1rem;
    font-weight: bold;
    color: #333333a5;
}
.socials
{
    display: flex;
    gap: 0.24rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;  /* adjust spacing */
    padding: 2rem 1rem;
    margin-left: 0; /* remove extra push */
}

.footer-grid-heading
{
    font-size: 1.02rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1.2rem;
}
ul
{
    list-style-type: none;
}
.footer-link
{
    font-size: 0.9rem;
    color: #777;
}
.footer-link:hover
{
  color: var(--link-color);
}
.footer-links-list
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-copyright
{
    color: var(--dark-gray);
    font-size: 0.75rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px solid #777777c5;
}